.darkmode {
    --bg-color1: #787A91;
    --bg-color2: #505262;
    --bg-color3: #393a46;
    --text1: #EEEEEE;
    --text2: white;
    --accent: #1363DF;
    --close: #dd1313;
}

.lightmode {
    --bg-color1: #cccccc;
    --bg-color2: white;
    --bg-color3: #fff5e6;
    --text1: #000000;
    --text2: #000000;
    --accent: #ffbd59;
    --close: #ff5757;
}

body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    max-width: 400px;
    background-color: var(--bg-color1);
    overflow: hidden;
}

main {
    min-height: 150px;
    padding-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid var(--accent);
    margin-bottom: 6px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: var(--bg-color2);
    color: var(--text1);
}

button {
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    color: var(--text2);
    cursor: pointer;
    margin-right: 2px;
    background: var(--accent);
}

hr {
    border-top: 2px solid black;
    border-bottom: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    overflow: auto;
    max-height: 300px;
    color: var(--text1);
}

li {
    margin-top: 5px;
    background-color: var(--bg-color3);
    padding: 5px;
    border-radius: 5px;
}

a {
    color: var(--text1);
}

.li-container {
    display: grid;
    grid-template-columns: auto 20px;
}

.title-container {
    overflow: hidden;
}

.x-container {
    color: var(--close);
    text-align: center;
    margin: auto;
    cursor: pointer;
    font-size: 0.5em;
}

.ul-placeholder {
    font-style: italic;
    background-color: var(--bg-color2);
}

.hide {
    display: none;
}

#mode-btn p {
    font-size: 12px;
    line-height: 24px;
    font-weight: bold;
    display: inline-block;
}

#mode-btn span {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.2s;
    background-repeat: no-repeat;
}

.dark-toggle {
    background-image: url('toggle-off.svg');
}

#mode-btn:hover .dark-toggle {
    background-image: url('toggle-off-hover.svg');
}

.light-toggle {
    background-image: url('toggle-on.svg');
}

#mode-btn:hover .light-toggle {
    background-image: url('toggle-on-hover.svg');
}

#mode-btn:hover {
    cursor: pointer;
}


